/.DS_Store
__pycache__
datasets
processed_datasets
manuscript/main.out
manuscript/main.aux
manuscript/main.fls
manuscript/main.log
manuscript/main.fdb_latexmk
manuscript/main.synctex.gz
.vscode
.cursor
patx